$xpos: 10px;
$ypos: 10px;


MiniMapUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;


  .map {
    position: absolute;
    top: $ypos;
    right: $xpos;
    width: 350px;
    height: 350px;
  }

  .grid {
    position: absolute;
    top: $ypos;
    right: $xpos;
    width: 350px;
    height: 350px;
  }

}