@namespace Kira.UI
@attribute [StyleSheet]
@inherits Panel
@using Sandbox.UI

<root>
    <div class="unit-field">@Villager.FirstName</div>
    <div class="unit-field">@($"{Villager.Pos.x:F0} {Villager.Pos.y:F0}")</div>
</root>

@code
{
    public VillagerData Villager { get; set; }
    public VillagerPawn Pawn { get; set; }
    public Viewport ViewPort { get; set; }

    public MinimapSymbol()
    {
    }

    public MinimapSymbol(VillagerData villager, Viewport viewport)
    {
        this.Villager = villager;
        this.ViewPort = viewport;
    }

    public override void OnLayout(ref Rect layoutRect)
    {
        base.OnLayout(ref layoutRect);
        RefreshLayout();
    }

    public override void OnHotloaded()
    {
        base.OnHotloaded();
        RefreshLayout();
    }

    public void RefreshLayout()
    {
        var cpos = ViewPort.CalculatePosition(Villager.Pos, Box);
        Box.Rect = cpos;

        foreach (Panel d in Descendants)
        {
            d.Style.Margin = Length.Auto;
        }
    }

    protected override int BuildHash() => System.HashCode.Combine(Villager, Pawn.Transform.Position);

}