TabWindow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  justify-content: center;
  align-items: center;

  .window {
    position: absolute;
    width: 40%;
    height: 70%;
    background-color: #87b2b3;
    padding: 15px;

    justify-content: center;
    align-items: center;

    color: #fff;
    font-family: "FiraCode Nerd Font";
    font-weight: 650;
    font-size: 32px;

    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 6px;

    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .header {
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(#f00, 0.5);
  }

  .body {
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(#00f, 0.5);
  }

  .footer {
    width: 100%;
    height: 35px;
    font-size: 26px;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(#3E6, 0.7);
  }

}