@namespace Kira.UI
@using System
@using System.Threading.Tasks
@using Kira.Util
@using Sandbox.UI
@inherits PanelComponent

<root>
    <div class="container">
        <div class="grid"></div>
    </div>

    @{
        var c = "startbtn";
        var text = "";
        if (graph != null)
        {
            c += graph.IsSearching ? " searching" : "";
            text = graph.IsSearching ? "searching..." : "Start";
        }
    }
    <div class="@c" onclick="@(() => OnStartSearch())">@text</div>
</root>

@code
{
    private Graph graph;
    private Panel GridDiv;

    protected override void OnTreeFirstBuilt()
    {
        base.OnTreeFirstBuilt();

        graph = new Graph();
        GridDiv = Panel.Descendants.ElementAt(1);
        Init();
    }

    protected override void OnTreeBuilt()
    {
        base.OnTreeBuilt();
        Refresh();
    }

    private void Refresh()
    {
        GridDiv = Panel.Descendants.ElementAt(1);
        GridDiv.DeleteChildren(true);
        Init();
    }

    private void Init()
    {
        foreach (GraphNode node in graph.AllNodes)
        {
            var nodeUI = new GraphNodeUI(node, graph);
            nodeUI.AddClass("node");
            GridDiv.AddChild(nodeUI);
        }
    }

    private async Task OnStartSearch()
    {
        if (graph.IsSearching) return;
        await graph.DoSearch();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(graph?.IsSearching, Time.Now);
    }
}