@namespace Kira.UI
@using System
@using System.Threading.Tasks
@using Kira.Util
@using Sandbox.UI
@inherits PanelComponent

<root>
    <div class="container">
        <div class="grid"></div>
    </div>

    @{
        var c = "button";
        var text = "";

        if (graph != null)
        {
            IsSearching = graph.IsSearching;
            c += IsSearching ? " start searching" : " start";
            text = IsSearching ? "searching..." : "Start";
        }
    }

    <div class="button-container">
        @* ReSharper disable once CSharpWarnings::CS8974 *@
        <div class="@c" onclick=@OnStartSearch>@text</div>

        @* <div class="button stop" onclick="@(() => OnStartSearch())">Stop</div> *@
    </div>
</root>

@code
{
    private bool IsSearching { get; set; }
    private Graph graph;
    private Panel GridDiv;

    protected override void OnTreeFirstBuilt()
    {
        base.OnTreeFirstBuilt();

        graph = new Graph();
        GridDiv = Panel.Descendants.ElementAt(1);
        Init();
    }

    protected override void OnTreeBuilt()
    {
        base.OnTreeBuilt();
        Refresh();
    }

    private void Refresh()
    {
        GridDiv = Panel.Descendants.ElementAt(1);
        GridDiv.DeleteChildren(true);
        Init();
    }

    private void Init()
    {
        foreach (GraphNode node in graph.AllNodes)
        {
            var nodeUI = new GraphNodeUI(node, graph);
            nodeUI.AddClass("node");
            GridDiv.AddChild(nodeUI);
        }
    }

    private async Task OnStartSearch()
    {
        if (graph.IsSearching) return;
        await graph.DoSearch();
    }

    protected override int BuildHash()
    {
        if (graph != null)
        {
            return HashCode.Combine(graph.IsSearching ? Time.Now : 0f);
        }

        return HashCode.Combine(graph?.IsSearching);
    }
}