@using Sandbox.UI
@namespace Kira.UI
@using Kira.Util
@inherits PanelComponent

<root>
    <div class="container">
        <div class="grid"></div>
    </div>
</root>

@code
{
    private Graph graph;
    private Panel GridDiv;

    protected override void OnTreeFirstBuilt()
    {
        base.OnTreeFirstBuilt();

        graph = new Graph();
        GridDiv = Panel.Descendants.ElementAt(1);
        Init();
    }

    protected override void OnTreeBuilt()
    {
        base.OnTreeBuilt();
        Refresh();
    }

    private void Refresh()
    {
        GridDiv = Panel.Descendants.ElementAt(1);
        GridDiv.DeleteChildren(true);
        Init();
    }

    private void Init()
    {
        foreach (GraphNode node in graph.AllNodes)
        {
            var nodeUI = new GraphNodeUI(node, graph);
            nodeUI.AddClass("node");
            GridDiv.AddChild(nodeUI);
        }
    }
}