Navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;

  .nav {
    position: absolute;
    bottom: 10px;
    gap: 6px;

    height: 80px;
    border-radius: 3px;
    padding: 7px;
    //padding: 10px 10px;
    font-size: 18px;

    color: #1c1c1c;
    background-color: rgb(217, 217, 217);

    font-family: Poppins;
    font-weight: 800;

    justify-content: center;
    align-items: center;
  }

  .navslot {
    //background-color: #ea5e5e;
    //background-color: #59bba4;
    background-color: #3abda2;
    color: #FFFFFF;
    font-size: 28px;
    //width: 95px;
    height: 100%;
    justify-content: center;
    align-items: center;
    //flex-grow: 1;
    flex-shrink: 0;
    width: 90px;
    border-radius: 2px;
    transition: all 120ms;

    &:hover {
      color: #E0E0E0;
      background-color: #156F68;
      //background-color: #268366;
    }
  }

  .navslot.active {
    background-color: #d3438e;
  }

  .paneltest {
    background-color: red;
    //width: 500px;
    //height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .window-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
}