@import "Styles/base.scss";
@import "Styles/base/_tabcontainer.scss";

.hidden {
  opacity: 0;
}

DevUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;

  UnitsListUI {
    position: static;
    width: 100%;
    height: 100%;
    flex-grow: 1;

    .units {
      position: static;
      flex-grow: 1;
      height: 100%;
      border-radius: 0;
    }

    .units-list {
      margin-top: 4vh;
    }

    .tooltip {
      position: absolute;
      top: 23.6vh;
      left: 67.8vw;
      border-radius: 3px;
      background-color: rgb(#333, 0.9);
    }
  }

  #tabs {
    z-index: 100;
    //position: absolute;
    pointer-events: all;
    flex-grow: 0;
    flex-shrink: 1;
    width: 35vw;
    height: 60vh;
    top: 15vh;

    > .tabs {
      flex-grow: 0;
      flex-shrink: 0;

      > .button {
        width: 150px;
        height: 40px;

        justify-content: center;
        align-items: center;

        padding: 0;
        border-radius: 4px 4px 0px 0px;
        opacity: 0.3;
        font-family: Roboto;
        font-size: 16px;
        color: #fff;
        background-color: #aaa;

        .iconpanel {
          font-size: 22px;
        }

        &:hover {
          opacity: 0.5;
        }

        &.active {
          opacity: 1;
        }
      }
    }

  }

  .container {
    background-color: red;
    position: absolute;
    top: 5vh;
    border-radius: 3px;
    width: 30%;
    height: 50%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  .title {
    font-size: 25px;
    font-family: Poppins;
    color: #fff;
  }

  .tpanel {
    color: white;
    position: absolute;
    top: 50px;
    width: 250px;
    height: 250px;
    background: #555;

    justify-content: center;
    align-items: center;
  }
}