@namespace Kira.UI
@using Sandbox.UI
@inherits Kira.UI.BaseNavWindow
@attribute [StyleSheet]

@if (!IsActive) return;
<root>
    <div class="container">
        <div class="map">
            <Viewport Colony="@Colony"></Viewport>
        </div>
        <div class="map-info">
            <div class="info-field">pos (@MapViewPos.x, @MapViewPos.y)</div>
        </div>
    </div>
</root>

@code
{
    public Vector2 MapViewPos { get; set; }
    public ColonyManager Colony { get; set; } = ColonyManager.Instance;
    public override bool IsActive { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime) return;

        if (!Colony.IsValid())
        {
            Log.Info("colony not valid");
            Colony = Scene.Components.GetAll<ColonyManager>().First();
        }
    }

    protected override int BuildHash() => System.HashCode.Combine(IsActive);
}