@using System
@using Sandbox.Razor
@using Sandbox.UI
@inherits Panel
@attribute [StyleSheet]
@namespace Kira.UI

<root>
    <div class="window">
        <div class="render-fragment header">@Header</div>
        <div class="render-fragment body">@Body</div>
        <div class="render-fragment footer">@Footer</div>
    </div>
</root>

@code
{
    public RenderFragment Header { get; set; }
    public RenderFragment Body { get; set; }
    public RenderFragment Footer { get; set; }

    protected override int BuildHash() => HashCode.Combine(Header, Body, Footer);
}