@namespace Kira.UI
@attribute [StyleSheet]
@inherits Panel
@using Sandbox.UI

<root>
    <div class="unit-field">@Villager.FirstName</div>
    <div class="unit-field">@($"{Villager.Pos.x:F0} {Villager.Pos.y:F0}")</div>

    @if (Villager.IsDead)
    {
        <div class="unit-field">
            <i id="dead-icon">dangerous</i>
        </div>
    }
</root>

@code
{
    public Villager Villager { get; set; }
    public Viewport ViewPort { get; set; }

    public MinimapSymbol()
    {
    }

    public MinimapSymbol(Villager villager, Viewport viewport)
    {
        this.Villager = villager;
        this.ViewPort = viewport;
    }

    public override void OnLayout(ref Rect layoutRect)
    {
        base.OnLayout(ref layoutRect);
        RefreshLayout();
    }

    public override void OnHotloaded()
    {
        base.OnHotloaded();
        RefreshLayout();
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);
        RefreshLayout();
    }

    protected override void FinalLayoutChildren(Vector2 offset)
    {
        base.FinalLayoutChildren(offset);
        RefreshLayout();
    }

    public void RefreshLayout()
    {
        var cpos = ViewPort.CalculatePosition(Villager.Pos, Box);
        Box.Rect = cpos;
    }

    protected override int BuildHash() => System.HashCode.Combine(Villager, Villager.Pos);
}